.app-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 50px;
    background-color: rgb(50,205,50);
    color: white;
    
    .app-about__heading {
        text-align: center;
        font-size: clamp(2rem, 3vw, 3rem);
        margin: 30px 0;
    }

    .app-about__description {
        font-size: clamp(1.2rem, 2.5vw, 1.8rem);
        width: 90%;
        text-align: justify;

        @media (min-width: 720px) {
            width: 75%;
        }
        @media (min-width: 1024px) {
            width: 60%;
        }
    }
}