.app-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;

    .background {
        filter: brightness(40%);
    }

    .foreground {
        backdrop-filter: brightness(40%);
        width: 100%;

        .app-blog__heading {
            text-align: center;
            font-size: clamp(2rem, 3vw, 3rem);
            margin: 30px 0;
            backdrop-filter: brightness(40%);
        }
    
        .app-blog__description {
            text-align: center;
            font-size: clamp(1.2rem, 2.5vw, 1.8rem);
        }

        .app-blog__posts {
            margin: 20px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .app-blog__post {
                margin: 20px auto;
                width: clamp(20rem, calc(20rem + 2vw), 22rem);
                overflow: hidden;
                box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
                border-radius: 1em;
                background: #ECE9E6;
                background: linear-gradient(to right, #FFFFFF, #ECE9E6);
                color: black;

                .app-blog__post-header {
                    img {
                        display: block;
                        margin: 0 auto;
                        width: 100%;
                    }
                }

                .app-blog__post-content {
                    padding: 20px;
                    min-height: 200px;
                    .app-blog__post-category {

                    }

                    .app-blog__post-title {
                        margin: 10px 0;
                        font-size: 1.5rem;
                        text-transform: capitalize;
                    }

                    .app-blog__post-excerpt {
                        font-size: 1.2rem;
                    }
                }

                .app-blog__post-footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 30px 20px;

                    .post-footer__permalink {
                        text-align: center;
                        display: block;
                        border-radius: 50px;
                        width: 40%;
                        padding: 10px;
                        border: 1px solid black;
                        color: black;
                        background-color: transparent;
                        cursor: pointer;
                        transition: .3s ease;
                        text-decoration: none;
                        
                        &:hover {
                            background-color: black;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    
    
}