@use 'variables' as c;
@use 'mixin' as m;

.app-home {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    @include m.flex-column-center;
    text-align: center;
    z-index: 1;
    color: c.$main-color;

    &__heading {
        position: relative;
        z-index: 1;
        font-size: clamp(2rem, 3vw, 3rem);
    }

    &__description {
        position: relative;
        z-index: 1;
        font-size: clamp(1.5rem, 2.5vw, 2rem);
        margin: 40px 0;
    }

    &__btn {
        position: relative;
        z-index: 1;
        padding: 15px;
        border-radius: 50px;
        font-size: clamp(1rem, 1.5vw, 1.5rem);
        border: 2px solid c.$main-color;
        background-color: transparent;
        color: c.$main-color;
        transition: .3s ease-in;
        cursor: pointer;

        &:hover {
            background-color: c.$main-color;
            color: white;
        }
    }
    
    .waves {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        background-color: c.$main-color;  
        transition: 500ms;

        @media (min-width:720px) {
            height: 200px;
        }

        @media (min-width:1024px) {
            height: 300px;
        }

        &::before,&::after {
            content: '';
            position: absolute;
            width: 300vw;
            height: 300vw;
            top: -65vw;
            left: 50%;
            transform: translate(-50%,-75%);
        }

        &::before {
            border-radius: 44%;
            background: rgba(255,255,255,1);
            animation: waves 8s linear infinite;
        }

        &::after {
            border-radius: 44%;
            background: rgba(255,255,255,0.5);
            animation: waves 15s linear infinite;
        }


        @keyframes waves {
            0% {
                transform: translate(-50%,-75%) 
                           rotate(0deg);
            }
            100% {
                transform: translate(-50%,-75%) 
                           rotate(360deg);
            }
        }
    }
}