@use 'variables' as c;
@use 'mixin' as m;

.app-nav {
    background-color: c.$main-color;
    z-index: 99;
    width: 100%;
    font-size: clamp(1rem, 2vw, 1.8rem);
    @include m.flex-center;
    padding: 20px;

    @media (max-width: 768px) and (orientation: landscape) {
        min-height: 15vh;
    }

    @media (max-width: 768px) {
        min-height: 10vh;
        position: fixed;
        top: 0;
    }
    
    ul {
        @include m.flex-center;
        list-style-type: none;

        &.show {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            font-size: c.$heading-small;
            min-height: 40vh;
        }

        @media (max-width: 768px) {
            display: none;
        }

        li {
            position: relative; 
            margin: 0 15px;

            a {
                color: white;
                text-decoration: none;

                &:after {    
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: #fff;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                  }
                  &:hover:after { 
                    width: 100%; 
                    left: 0; 
                  }
            }
        }
    }


    .app-nav__search {
        @media (max-width: 768px) {
            display: none;
        }
        form {
            @include m.flex-center;
            margin: 0 20px;
            input {
                color: white;
                margin: 0;
                border: 2px solid white;
                &::placeholder {
                    color:white;
                }
            }

            input[type=submit] {
                &:hover {
                    background-color: white;
                    color: c.$main-color;
                }
            }
        }
    }
}

.app-header__hamburger {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 50px;
    cursor: pointer;
    position: fixed;
    z-index: 999;
    right: 4%;
    top: 1%;

    @media (min-width: 768px) {
        display: none;
    }

}