@use 'variables' as c;
@use 'mixin' as m;

.app-nav {
    position: fixed;
    background-color: c.$main-color;
    z-index: 99999;
    width: 100%;
    font-size: clamp(1rem, 2vw, 1.8rem);
    padding: 20px;
    @include m.flex-center;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;

        li {
            position: relative; 
            margin: 0 15px;

            a {
                color: white;
                text-decoration: none;

                &:after {    
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: #fff;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                  }
                  &:hover:after { 
                    width: 100%; 
                    left: 0; 
                  }
            }
        }
    }

    .app-nav__search {
        form {
            @include m.flex-center;
            margin: 0 20px;
            input {
                color: white;
                margin: 0;
                border: 2px solid white;
                &::placeholder {
                    color:white;
                }
            }

            input[type=submit] {
                &:hover {
                    background-color: white;
                    color: c.$main-color;
                }
            }
        }
    }
}