@use 'variables' as c;
@use 'mixin' as m;

.app-page {

    &__hero {
        width: 100%;
        height: 50vh;
        position: relative;
    
    
        .app-page__hero-content {
            color: white;
            position: absolute;
            inset: 0;
            background-color: rgba(0,0,0,.5);
            font-size: 30px;
            @include m.flex-column-center;

            .app-page__heading {
                font-size: c.$heading-size;
            }

            .app-page__description {
                font-size: c.$description-home;
            }
        }
    
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;

        h2 {
            font-size: c.$heading-small;
            margin-bottom: 15px;
        }

        p {
            font-size: c.$description-small;
            text-align: justify;
        }
        ul {
            padding-left: 40px;
            margin: 20px 0;
        }

    }
}
