$main-color: #11a06c;
$main-padding: 20px;
$heading-size: clamp(2rem, 3vw, 3rem);
$description-size: clamp(1.2rem, 2.5vw, 1.8rem);
$heading-small: clamp(1.8rem, 2vw, 2.2rem);
$description-home: clamp(1.5rem, 2.5vw, 2rem);
$description-small: clamp(1.2rem, 2vw, 1.5rem);