@use 'header';
@use 'nav';
@use 'about';
@use 'home';
@use 'offer';
@use 'blog';
@use 'contact';
@use 'footer';
@use 'page';
@use 'page-diet';
@use 'page-motor';
@use 'error-404';
@use 'search-form';
@use 'search';
@use 'single';
@use 'comments';

*, *::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}